* {
  box-sizing: border-box;
}

a {
  color: var(--black-color);
  text-decoration: none;

  &:not(.no) {
    color: var(--theme-color);
    display: inline-block;
    position: relative;
    outline: 0;
    transition: all .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--theme-color);

      /* background-color: var(--theme-color); */
      /* background: color(red a(90%)); */
      opacity: 0;
      transition: all .3s;
      transform: translateY(-5px);
    }

    &:hover {
      &::after {
        border-radius: 3px;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

button {
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 6px;
  font-size: 12px;
  border-radius: 4px;
  user-select: none;
  outline: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--black-color);
  background-color: #fff;
  border-color: var(--grey-color);

  &:hover, &:focus {
    color: var(--theme-color);
    border-color: var(--theme-color);
  }
}

::selection {
  background: var(--pink-color);
}
