.case {
  padding-top: 52px;
}

.repositories {
  & .repository {
    list-style: none;
    border: 1px solid #eaecef;
    padding: 16px;
    border-radius: 3px;
    margin: 8px 0;

    /* trigger BFC */
    width: 100%;
    display: inline-block;

    & h3 {
      font-size: 16px;
      margin: 0 0 4px 0;
    }

    & .tag > div {
      margin-right: 24px;
    }
  }
}
