footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.footer {
  height: 90px;
  display: grid;
  align-items: center;
  justify-content: right;
  border-top: 1px solid #eee;
  font-size: 12px;
}