.ec-header {
  width: 100%;
  z-index: var(--z-index-header);
  position: fixed;
  top: 0;
  left: 0;
  height: 52px;

  & .header-background {
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    height: 100%;
    align-items: center;
  }

  & .ec-header-logo {}

  & .ec-header-menu {
    & ul {
      display: flex;
      list-style: none;
      color: #333;
      font-size: 12px;

      & li {
        line-height: 20px;
        margin-right: 12px;

        & button {
          background-color: transparent;
        }
      }
    }
  }
}
