.home {
  & .home-section {}
  & .logo {
    display: grid;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-home-logo);
    background-color: #fbfbfb;
    align-items: center;
    justify-content: center;
    background-image: url('http://oe2c4fczn.bkt.clouddn.com/unsplash-bench-accounting-49909.jpg');
    background-size: cover;
    background-position: center center;
    @nest & .title {
      font-size: 40px;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 0px 8px 0 30px;
    }
  }
  & .me {
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    & .me-wrapper {
      height: inherit;
      width: 100%;
      & .img {
        background-color: #fff;
        background-image: url('http://oe2c4fczn.bkt.clouddn.com/unsplash-pineapple-supply-co-262624.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: auto 40%;
        height: 80%;
      }
      & .description {
        height: 20%;
      }
    }
  }
}