.resume {
  color: var(--black-color);
  background-color: #f6f6f6;

  & .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .title {
    font-size: 20px;
    color: var(--black-color);
  }

  & .basic-info {
    flex-direction: column;
    background-size: cover;

    & .name, & .contact {
      width: 600px;
    }

    & .name {
      margin-bottom: 10px;
      font-size: 20px;
    }

    & .contact {
      font-size: 12px;
      color: var(--grey-color);

      & .item {
        margin-bottom: 6px;
      }
    }
  }

  & .work {
    flex-direction: column;

    & .title, & .item {
      width: 600px;
      margin-bottom: 10px;
    }

    & .item span {
      color: var(--grey-color);
    }
  }

  & .project {
    flex-direction: column;

    & .title, & .item {
      width: 600px;
      margin-bottom: 10px;
    }

    & .item span {
      color: var(--grey-color);
    }
  }
}
