@import './extension.css';
@import './common.css';
/* components */

@import './components/browser.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/home.css';
@import './components/about.css';
/*  */

/* variable */

@import './variable/color.css';
@import './variable/z-index.css';
/*  */

body {
  font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.viewport {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 100%;
}