@import './extension.css';
@import './common.css';

/* variable */

@import './variable/color.css';
@import './variable/z-index.css';


/* components */

@import './components/browser.css';
@import './components/header.css';
@import './components/home.css';
@import './components/case.css';


/*  */

body {
  font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.viewport {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 100%;
}