/* .container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
} */

figure {
  margin: 0;
  width: 100%;
}

.read{
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-color);
}

.theme {
  color: var(--theme-color);
}